/* primary-color: #876445 */
/* secondary-color: #EEC373 */

.nav-bar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    /* position: fixed; */
    position: -webkit-sticky;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.fa-bars{
    display: none;
    font-size: 30px;
    cursor: pointer;

}

.fa-times{
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 35px;
    right: 15px;
}

.logo{
    font-size: 2.25rem;
    /* font-weight: bold; */
    color: #876445;
    font-family: 'Titan One', cursive;
}

.nav-links{
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links > a{
    text-decoration: none;
    color: black;
    font-size: 1.28rem;
    font-weight: 400;
}

.nav-links > a:hover{
    border-bottom: 3px solid #876445;
}

.nav-links > .activeLink{
    text-decoration: none;
    /* color: black; */
    /* font-size: 1.28rem; */
    font-weight: 400;
    color: #876445;
    font-weight: bold;
}

.cta-1{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 7px 21px;
    border: 2px solid #876445;
    border-radius: 50px;
    cursor: pointer;
}

.nav-btn{
    text-decoration: none;
    color: black;
}

.cta-1:hover{
    background-color: #876445;
    color: white;
}

@media screen and (max-width:1400px){
    .logo{
        font-size: 1.5rem;
    }

    .nav-links > a{
        font-size: 1rem;
    }

    .cta-1{
        font-size:1.1rem;
        padding: 5px 15px;
    }
}

@media screen and (max-width:1250px){
    .nav-links{
        width: 430px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        font-size: 1.3rem;
    }

    .nav-links > a{
        font-size: 0.8rem;
    }

    .cta-1{
        font-size:1rem;
        padding: 3px 13px;
    }
}

@media screen and (max-width:960px){
    .nav-links{
        width: 280px;
    }

    .logo{
        font-size: 1.2rem;
    }

    .nav-links > a{
        font-size: 0.8rem;
    }

    .cta-1{
        font-size:0.9rem;
        padding: 2px 12px;
    }
}

@media screen and (max-width:600px){
    .nav-links{
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 3;
        background-color: #876445;
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .fa-bars{
        display: block;
    }

    .menu-open{
        transform: translateX(0%);

    }

    .appear{
        display: block;
    }

    .disappear{
        display: none;
    }

    .nav-links a{
        color: aliceblue;
        margin: 10% 0;
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding: 0 5px;
    }

    .nav-links a:hover{
        border-bottom: 3px solid #EEC373;
    }

    .nav-links .activeLink{
        color: #EEC373;
    }
    .nav-btn{
        display: none;
    }

   
}